<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RmSite</title>

    <!--CSS-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!--End CSS-->

</head>
<body>

    <!--Navigation-->
    <nav class="navbar navbar-default">
        <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">SRM</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/tasks ">Tasks</a></li>
                    <li><a href="/trash">Trash</a></li>
                    <li><a href="/files">Files</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--End Navigation-->
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>