{% extends 'srm/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <ul class="list-group">
                {% for file in files %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">
                                {{ file.name }}
                            </div>

                            <div class="col-md-1">
                                {% if file.is_dir %}
                                    <form method='POST' action='/files/'>
                                        {% csrf_token %}
                                        <input type='hidden' name='path' value='{{ file.path }}'>

                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="col-md-1">
                                <a href="{% url 'srm:task_create' %}?path={{ file.path }}" class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}