{% extends 'srm/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{{ object.name }}</h1>
            <p>File: {{ object.rm_file}}</p>
            <p>Trash: {{ object.trash }}</p>
            <p>Status: {{ object.status }}</p>
        </div>
    </div>

{% endblock content %}