{% extends 'srm/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Create Task</h1>
            <form action="" method="post">
                {% csrf_token %}
                    {{ form.as_p }}
                <button id="submit" type="submit" class="btn btn-lg btn-primary col-md-offset-3">Create</button>
            </form>
        </div>
    </div>

{% endblock content %}