{% extends 'srm/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Tasks</h1>
                <ul class="list-group">
                    {% for task in object_list %}
                        <li class="list-group-item">
                        <div class="row">
                        <div class="col-md-9">
                            <a href="{% url 'srm:task_details' task.id  %}">{{ task.name }}</a>
                        </div>
                        <div class="col-md-1">
                            <a href="" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </div>
                        </div>
                        </li>
                    {% endfor %}
                </ul>

        </div>
    </div>

{% endblock content %}