{% extends 'srm/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Trash List</h1>
                <ul class="list-group">
                    {% for trash in object_list %}
                        <li class="list-group-item">{{ trash.path }}</li>
                    {% endfor %}
                 </ul>

        </div>
    </div>

{% endblock content %}